.general-root{
    width: 100%;
    background-image: linear-gradient(to right, #1e1e2f, #1d7586)
}
.form-container {
    /* background-color: #121212; */
    color: #fff;
    width: 50%;
    margin: auto;
    margin-top: 0;
    margin-bottom: 0;
    padding: 30px;
    font-family: Arial, sans-serif;
}

.form-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.radio-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}

.radio-group input {
    margin-right: 8px;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.form-group label {
    margin-bottom: 8px;
    font-size: 14px;
}

.form-group input,
.form-group select {
    padding: 10px;
    border-radius: 6px;
    border: none;
    background-color: #1e1e2f;
    color: #fff;
    font-size: 14px;
}

.form-row {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.submit-btn {
    background-color: #fff;
    color: #000;
    padding: 12px 20px;
    border: none;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s ease;
}

.submit-btn:hover {
    background-color: #00d4ff;
    color: #fff;
}